/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('../images/cvr_pic2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    color: #333; /* Change text color to a darker shade for better readability */
}

/* Modify the background of the about section */
.initial-0 {
    background: transparent;
    position: relative;
}

.initial-0 .about-content {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2%; /* Adjusted from 4rem to 2% */
}

.initial-0 h1,
.initial-0 h3,
.initial-0 h2 {
    margin-left: 1%; /* Adjusted from 10% to 1% */
    font-size: 3vw; /* Adjusted to be relative to viewport width */
}
.initial-0 p {
    color: #000;
}

.about-content {
    display: flex;
    align-items: center;
    padding: 2%; /* Adjusted from 4rem to 2% */
}
/* Add this CSS for the grey "About Me" box */
.about-header {
    background-color: #2997ea;
    padding: 1% 1%; /* Adjusted from 10px to 1% */
    border-radius: 3% 3% 3% 3%; /* Adjusted from 20px to 3% */
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw; /* Adjusted to be relative to viewport width */
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 10%; /* Adjusted from 5% to 2% */
}

.about-description {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3%; /* Adjusted from 20px to 3% */
    color: #333;
    box-shadow: 1% 1% 1% rgba(0, 0, 0, 0.2); /* Adjusted from 10px to 1% */
    position: relative;
    margin-top: 5%; /* Adjusted from 5% to 2% */
    max-width: 100%; /* Adjusted to increase the maximum width */
    width: 100%; /* Set the width to 100% */
}

.about-description p {
    font-size: 1.0vw; /* Adjusted to be relative to viewport width */
    line-height: 1.7;
    margin-bottom: 4%; /* Adjusted from 20px to 2% */
    margin-left: 4%; /* Adjusted from 20px to 2% */

    max-width: 80%;
    text-align: left; /* Align the description text to justify */
}

.circular-image {
    border-radius: 50%;
    width: 55%; /* Adjusted from 35% to 15% */
    height: 55%; /* Adjusted from 35% to 15% */
    object-fit: cover; /* Maintain image aspect ratio and cover the circular container */
    margin-left: 25%; /* Adjusted from 65% to 30% */
    float: right; /* Float the image to the left to keep the text next to it */
}

.container {
    max-width: 80%; /* Adjusted from 1200px to 80% */
    margin: 0 auto;
    padding: 2%; /* Adjusted from 20px to 2% */
}

section {
    margin: 2% 0; /* Adjusted from 20px to 2% */
    padding: 2%; /* Adjusted from 20px to 2% */
    border-radius: 1%; /* Adjusted from 8px to 1% */
    box-shadow: 0 1% 1% rgba(0, 0, 0, 0.1); /* Adjusted from 0 4px 6px rgba(0, 0, 0, 0.1) to 0 1% 1% rgba(0, 0, 0, 0.1) */
}

h2 {
    color: #fff;
    font-size: 2.5vw; /* Adjusted to be relative to viewport width */
    margin-bottom: 2%; /* Adjusted from 20px to 2% */
}

.project-container {
    display: flex;
    overflow-x: auto;
}

.project {
    flex: 0 0 auto;
    width: 25%; /* Adjusted from 300px to 25% */
    margin: 1%; /* Adjusted from 1rem to 1% */
    padding: 1%; /* Adjusted from 1rem to 1% */
    background-color: #fff;
    box-shadow: 0 0 1% rgba(0, 0, 0, 0.1); /* Adjusted from 0 0 10px rgba(0, 0, 0, 0.1) to 0 0 1% rgba(0, 0, 0, 0.1) */
    text-align: left;
    display: flex;
    flex-direction: column; /* Set the direction to column to place text below image */
}

.project img {
    width: 100%; /* Adjusted from 300px to 100% */
    height: auto; /* Adjusted from 200px to auto */
    object-fit: cover;
    margin-bottom: 2%; /* Adjusted from 10px to 2% */
}

.project-details {
    flex-grow: 1; /* Allow text to expand and fill remaining space */
    /* background-color: #fff; Set a contrasting background color */
    color: #000; /* Set text color to black */
    padding: 1%; /* Adjusted from 10px to 1% */
}

.project h3 {
    font-size: 1.7vw; /* Adjusted to be relative to viewport width */
}

.project p {
    font-size: 1vw; /* Adjusted to be relative to viewport width */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2% 0; /* Adjusted from 20px to 2% */
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2vw; /* Adjusted to be relative to viewport width */
    }

    header p {
        font-size: 1.3vw; /* Adjusted to be relative to viewport width */
   
